html {
    padding: 0;
    margin: 0;
}

a, a:hover {
    text-decoration: none;
    color: #000;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
	background-color: RGB(244, 245, 245);
}

/* 顶部导航栏 */
li {
    list-style: none;
}
nav {
    font-size: 0;
    width: 100%;
    background: RGB(43, 43, 43);
    color: RGB(153, 153, 153);
}
.clearfix::after {
    display: block;
    content: ' ';
    font-size: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}
.logo {
    float: left;
    padding-top: 10px;
    margin-left: 20px;
}
.menu-wrapper {
    float: right;
    margin-right: 10%;
}
.nav-item {
    display: inline-block;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    margin-right: 20px;
}
.nav-item a {
    display: inline-block;
    height:100%;
    width: 100%;
    color: #fff;
}
.nav-item a:hover {
    color: #ee5e5e;
}

/* 用户相关操作导航栏 */
.user-action-nav {
    width: 100%;
    height: 48px;
    line-height: 48px;
    margin: 20px 0;
    background: #fff;
}

.user-action-nav .publish-btn {
    display: inline-block;
    height: 100%;
    width: 100px;
    font-size: 14px;
    color: RGB(0, 127, 255);
    text-align: center;
    border-right: 1px solid RGBA(7, 17, 27, 0.1);
}

/* 主题导航栏 */
.theme-nav {
    width: 100%;
    height: 48px;
    line-height: 48px;
    background: #fff;
	padding-left: 15%;
}


.tab {
    display: inline-block;
    height: 30px;
	line-height: 30px;
    width: 100px;
	margin-top: 10px;
    font-size: 14px;
    color: RGB(121, 127, 132);
    text-align: center;
    border-left: 1px solid RGBA(7, 17, 27, 0.1);
}

.tab.active {
    color: RGB(0, 127, 255)
}

.tab:last-child {
	border-right: 1px solid RGBA(7, 17, 27, 0.1);
}


/* 文章列表 */
.content {
    width: 70%;
    margin: 20px auto;
    height: 100%;
}

.item-list {
    padding: 0;
    background: #fff;
}

.item-list .item {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid RGBA(7, 17, 27, 0.1);
}

.item-list .item:hover {
    background: RGB(252, 252, 252);
}

.item .title-info {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.item .topic-info .info {
    display: inline-block;
    padding: 2px 5px;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    border-radius: 5px;
    border: 1px solid RGB(237, 238, 239);
    color: RGB(178, 186, 194);
}

.item .comment-info {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 20px;
    text-align: center;
}

.item .comment-info a {
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: RGB(208, 208, 208);
    border-radius: 10px;
}

.item .comment-info a:hover {
    background: RGB(40, 44, 52);
}

/*文章详情页相关*/
.article-content {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
}

.article-content .title {
    font-weight: 600;
    font-size: 20px;
}

.article-content .info {
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid RGBA(7, 17, 27, 0.1);
    color: RGB(119, 128, 135);
}

.article-content .article {
    margin-top: 10px;
}

.comment {
    width: 70%;
    height: 100%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
}

.comment .hint {
    color: RGB(119, 128, 135);
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid RGBA(7, 17, 27, 0.1);
}

.comment .reply-form {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid RGBA(7, 17, 27, 0.1);
}

.comment .reply-form .text {
    padding: 10px 5px;
    margin-bottom: 15px;
}
.comment .reply-form .text textarea{
    width: 100%;
    height: 200px;
    overflow: auto;
    resize: none;
    outline: none;
    font-size: 15px;
    font-family: sans-serif;
}

.comment .reply-form span {
    color: RGB(119, 128, 135);
    font-size: 14px;
}

.comment .reply-form button {
    width: 70px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    background: RGB(0, 127, 255);
}
.comment .reply-form button:hover {
    background: RGB(3, 113, 223);
}

.floor-wrapper {
    display: flex;
    padding: 10px 5px;
    border-bottom: 1px solid RGBA(7, 17, 27, 0.1);
}

.floor-wrapper .avatar {
    flex: 0 0 65px;
    text-align: center;
}
.floor-wrapper .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}


.comment-item {
    flex: 1
}

.comment-item .comment-info {
    font-size: 12px;
    padding-bottom: 10px;
    color: RGB(119, 128, 135);
}
.comment-item .comment-info span{
    display: inline-block;
    margin-right: 8px;
}
