<nav class="clearfix">
    <div class="logo">
        <img src="../../static/logo.png" width="80" height="30">
    </div>
    <div class="menu-wrapper">
        <div class="menu">
            <div class="menu-toggle">文章</div>
            <ul class="menu-dropdown menu-hide">
                <li class="menu-item">菜单项</li>
            </ul>
        </div>
        <div class="menu">
            <div class="menu-toggle">话题</div>
            <ul class="menu-dropdown menu-hide">
                <li class="menu-item">菜单项</li>
                <li class="menu-item">菜单项</li>
            </ul>
        </div>
    </div>
</nav>
