<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	{% include 'components/navbar.html' %}
    <div class="article-content">
		<h1 class="title">{{ topic.title }}</h1>
		<div class="info">
			<span><a href="/profile/{{ topic.user_id }}">{{ topic.username }}</a></span>
			<span>{{ topic.views }}次浏览</span>
		</div>
		<div class="article" id="article">
			{{ topic.content | trim}}
		</div>
	</div>
	<div class="comment">
		<div class="hint">
			添加一条新回复
		</div>
		<div class="reply-form">
			<form method="POST" action="/reply/add/{{topic.id}}">
				<div class="text">
					<textarea name="content" maxlength="10000" id="reply_content"></textarea>
				</div>
				<span class="gray">请尽量让自己的回复能够对别人有帮助</span>
				<input type="hidden" value="{{topic.id}}" name="topic_id" />
				<input type="hidden" value="{{user.id}}" name="user_id" />
				<input type="hidden" value="{{floor_count}}" name="floor" />
				<button id="add-reply-btn" type="submit">回复</button>
			</form>
		</div>
		<div class="replies">
            {% for r in replies %}
			<div class="floor-wrapper">
				<div class="avatar">
					<img src="https://cdn.v2ex.com/gravatar/63f64b724a65d37e75b28934e249b45b?s=48&amp;d=retro">
				</div>
				<div class="comment-item">
					<div class="comment-info">
						<span>
							<a href="/profile/{{ r.user_id }}">
								{{r.username}}
							</a>
						</span>
						<span>
							第{{r.floor}}楼
						</span>
						<span>
							<a href="/reply/votes/{{r.id}}">
								♥ {{r.likes}}
							</a>
						</span>
					</div>
					<div class="comment-content">
                        {{ r.content}}
					</div>
				</div>
			</div>
            {% endfor %}
		</div>
    </div>
    <script src="/static/lib/markdown.min.js"></script>
    <script>
        var article = document.getElementById('article');
        var markdownText = article.innerHTML.trim();
        var html = markdown.toHTML(markdownText);
        article.innerHTML = html
    </script>
</body>
</html>