<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
    	{% include 'components/navbar.html' %}
        <nav class="theme-nav">
            {% if board_id %}
                <a href="{{ url_for('topic.index') }}" class="tab">全部</a>
                {% for b in boards %}
                    {% if b.id == board_id %}
                        <a href="{{ url_for('topic.index') }}?board={{ b.id }}" class="tab active">{{ b.title }}</a>
                    {% else %}
                        <a href="{{ url_for('topic.index') }}?board={{ b.id }}" class="tab">{{ b.title }}</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <a href="/" class="tab active">全部</a>
                {% for b in boards %}
                    <a href="{{ url_for('topic.index') }}?board={{ b.id }}" class="tab">{{ b.title }}</a>
                {% endfor %}
            {% endif %}
        </nav>
        <div class="content">
			<nav class="user-action-nav">
				<a class="publish-btn" href="{{ url_for('topic.add') }}">发布话题</a>
				<a class="publish-btn" href="{{ url_for('board.add') }}">发布板块</a>
			</nav>
            <ul class="item-list">
                {% for t in topics %}
                <li class="item">
                    <h1 class="title-info">
                        <a href="/topic/t/{{ t.id }}">
                            {{ t.title }}
                        </a>
                    </h1>
                    <div class="topic-info">
                        <a class="info" href="{{ url_for('topic.index') }}?board={{ t.board_id }}">
                            {{ t.board }}
                        </a>
                        <a class="info" href="/profile/{{ t.user_id }}">
                            {{ t.username }}
                        </a>
                        <span class="info">
                            {{ t.calc_time() }}
                        </span>
                        <span class="info">
                            {{ t.views }}次浏览
                        </span>
                    </div>
                    <div class="comment-info">
                        <a href="/topic/t/{{ t.id }}#comments">
                            {{ t.comments }}
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
